<div class="d-flex container-fluid flex-column h-100">
  <div class="row flex-grow-1">
    <app-sidebar id="sidebar" class="p-0 align-items-center">
    </app-sidebar>
    <div class="d-flex col flex-grow-1 flex-column">
      <div class="row flex-grow-1">
        <div class="d-flex container-fluid flex-column">
          <div class="row">
            <div class="col-3">
              <h2 class="font-weight-bold mt-2">Votes</h2>
            </div>
          </div>
          <div class="row flex-grow-1">
            <div class="d-flex col-4">
              <div class="d-flex flex-column container-fluid ffk-content-bg flex-grow-1 rounded p-0">
                <app-contained-textual-select *ngFor="let label of getGroupLabels()"
                                              [label]="label"
                                              class="flex-grow-1">
                </app-contained-textual-select>
              </div>
            </div>
            <div class="d-flex col">
              <div class="container-fluid ffk-content-bg flex-grow-1 rounded">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
