<div class="d-flex container-fluid flex-column flex-grow-1 h-100">
  <div class="d-flex row">
    <div class="col p-0">
      <app-header [brandImageRedirectUrl]="getBrandImageRedirectUrl()"
                  [brandImage]="getBrandImage()"
                  [hyperlinkMap]="getHyperlinkMap()"
                  [user]="userService.getUser()"
      ></app-header>
    </div>
  </div>
  <div class="d-flex row flex-grow-1">
    <div class="d-flex col flex-column p-0 mx-3">
      <table class="w-100 mt-4 text-center">
        <tr id="top" class="bg-white">
          <td class="small">Candidate</td>
          <td class="small">Sponsor</td>
          <td class="small">Group</td>
          <td class="small">Promotion Group</td>
          <td class="small">Date</td>
        </tr>
        <tr *ngFor="let vote of getVotes()" class="cursor-pointer">
          <app-safe-td [content]="vote.getCandidateUsername()" (click)="navigationService.goToVote(vote.getId())"></app-safe-td>
          <app-safe-td [content]="vote.getSponsorUsername()" [hyperlink]="getUserProfile()" class="d-table-cell"></app-safe-td>
          <app-safe-td [content]="vote.getCandidateGroupName()"
                       [colour]="vote.getCandidateGroupColour()"
                       (click)="navigationService.goToVote(vote.getId())">
          </app-safe-td>
          <app-safe-td [content]="vote.getPromotionGroupName()"
                       [colour]="vote.getPromotionGroupColour()"
                       class="d-table-cell"
                       (click)="navigationService.goToVote(vote.getId())">
          </app-safe-td>
          <app-safe-td [content]="vote.getFormattedCreatedString('DMY')" (click)="navigationService.goToVote(vote.getId())"></app-safe-td>
        </tr>
      </table>
    </div>
  </div>
</div>

