<img src="./assets/images/Fleet_of_the_Faithful_Knights_Shield.png" class="img-fluid c-pointer m-1">
<img src="./assets/images/profile-picture.png"
     id="nav-profile"
     class="rounded-circle c-pointer mt-4"
     height="40"
     width="40">
<div class="nav-action ffk-light-grey-bg c-pointer mt-4 mb-2 container-fluid rounded">
  <i class="fas fa-home flex-center icon"></i>
</div>
<div class="nav-action ffk-light-grey-bg c-pointer my-2 container-fluid rounded">
  <i class="fas fa-users flex-center icon"></i>
</div>
<div class="nav-action ffk-light-grey-bg c-pointer my-2 container-fluid rounded">
  <i class="fas fa-balance-scale flex-center icon"></i>
</div>
<div class="nav-action ffk-light-grey-bg c-pointer my-2 container-fluid rounded">
  <i class="fas fa-poll flex-center icon"></i>
</div>
<div class="nav-action ffk-light-grey-bg c-pointer my-2 container-fluid rounded">
  <i class="fas fa-cog flex-center icon"></i>
</div>
