<img src="./assets/images/Fleet_of_the_Faithful_Knights_Shield.png" class="img-fluid c-pointer m-1" (click)="navigationService.home()">
<img src="./assets/images/profile-picture.png"
     mdbTooltip="Profile"
     id="nav-profile"
     class="rounded-circle c-pointer mt-4"
     height="50"
     width="50">
<div mdbTooltip="Home"
     class="nav-action container-fluid ffk-content-bg c-pointer ffk-icon-shade hover rounded mt-4 mb-2"
     (click)="navigationService.home()">
  <i class="fas fa-home flex-center ffk-content-shade ffk-icon-fg"></i>
</div>
<div mdbTooltip="Votes"
     class="nav-action container-fluid ffk-content-bg c-pointer ffk-icon-shade hover rounded my-2"
     (click)="navigationService.votes()">
  <i class="fas fa-vote-yea flex-center ffk-content-shade ffk-icon-fg"></i>
</div>
<div mdbTooltip="Users"
     class="nav-action container-fluid ffk-content-bg c-pointer ffk-icon-shade hover rounded my-2">
  <i class="fas fa-users flex-center ffk-content-shade ffk-icon-fg"></i>
</div>
<div mdbTooltip="Permissions"
     class="nav-action container-fluid ffk-content-bg c-pointer ffk-icon-shade hover rounded my-2">
  <i class="fas fa-balance-scale flex-center ffk-content-shade ffk-icon-fg"></i>
</div>
<div mdbTooltip="Settings"
     class="nav-action container-fluid ffk-content-bg c-pointer ffk-icon-shade hover rounded my-2">
  <i class="fas fa-cog flex-center ffk-content-shade ffk-icon-fg"></i>
</div>
