<img src="./assets/images/Fleet_of_the_Faithful_Knights_Shield.png" class="img-fluid c-pointer m-1" (click)="navigationService.home()">
<img src="./assets/images/profile-picture.png"
     mdbTooltip="Profile"
     id="nav-profile"
     class="rounded-circle c-pointer mt-4"
     height="40"
     width="40">
<div mdbTooltip="Home"
     class="nav-action ffk-light-grey-bg c-pointer mt-4 mb-2 container-fluid rounded"
     (click)="navigationService.home()">
  <i class="fas fa-home flex-center icon"></i>
</div>
<div mdbTooltip="Votes"
     class="nav-action ffk-light-grey-bg c-pointer my-2 container-fluid rounded">
  <i class="fas fa-vote-yea flex-center icon"></i>
</div>
<div mdbTooltip="Users"
     class="nav-action ffk-light-grey-bg c-pointer my-2 container-fluid rounded">
  <i class="fas fa-users flex-center icon"></i>
</div>
<div mdbTooltip="Permissions"
     class="nav-action ffk-light-grey-bg c-pointer my-2 container-fluid rounded">
  <i class="fas fa-balance-scale flex-center icon"></i>
</div>
<div mdbTooltip="Settings"
     class="nav-action ffk-light-grey-bg c-pointer my-2 container-fluid rounded">
  <i class="fas fa-cog flex-center icon"></i>
</div>
