@if (getCandidateUsername().nonEmpty()) {
  <h1 mat-dialog-title>{{getCandidateUsername().get()}}'s Vote</h1>
}
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Reasoning</mat-label>
    <textarea #response matInput></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="justify-content-between">
  @if (canAffirm()) {
    <button mat-button class="mx-2 my-1 br-none text-success" (click)="castBallot(0, response.value)">
      Affirm
    </button>
  }
  @if (canDeny()) {
    <button mat-button class="mx-2 my-1 br-none text-danger" (click)="castBallot(1, response.value)">
      Deny
    </button>
  }
  @if (canVeto()) {
    <button mat-button class="mx-2 my-1 br-none text-danger" (click)="castBallot(2, response.value)">
      Veto
    </button>
  }
</div>
