**/.idea
**/node_modules
**/dist
**/terraform/.terraform/

*.heapsnapshot
*.log

*.js
*.js.map
*.d.ts
*.d.ts.map
**/terraform.tfstate
**/.terraform.lock.hcl
**/terraform.tfstate.backup
**/.terraform

.npmrc

package-lock.json
yarn.lock