/.idea/
*node_modules

/panel/src/environments/

*.heapsnapshot
*.log

*.js
*.js.map

*.d.ts
*.d.ts.map

# This was done to fix the MDB Pro issue but means that it has to be removed if we add new packages
/panel/package.json
package-lock.json
