<div class="container mt-5 mx-0">
  <div class="row">
    <h3 class="font-weight-normal">Panel News</h3>
    <div class="container p-0">
      <div class="row">
        <div class="col">
          <h5 class="font-weight-normal">First Post</h5>
        </div>
        <div class="col">
          <p>14/01/99</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <p>Donec at maximus ante. Donec eu ligula lectus. Nullam et urna congue, accumsan augue vel, auctor nulla.
            Pellentesque finibus ornare tellus, id sodales odio scelerisque in. Aliquam at faucibus libero, eu
            convallis quam. Mauris egestas fermentum tellus, et condimentum velit viverra ac. Suspendisse placerat
            nulla vel accumsan accumsan. Integer posuere, lorem id feugiat porta, ligula orci pellentesque nisi, eu
            fermentum libero nibh eget massa. Donec laoreet nisl eget felis lobortis cursus. Duis vitae dolor at
            ligula fringilla suscipit. Maecenas tincidunt vestibulum odio sit amet bibendum. Donec eu efficitur sem,
            sed tempor nisl. Phasellus nulla felis, accumsan nec tincidunt nec, elementum ac tellus. - Keanu</p>
        </div>
      </div>
    </div>
  </div>
</div>
