<div class="row mt-5 ml-1" id="news-container">
  <div class="col-11">
    <div class="row">
      <h3 class="monsterrat font-weight-bold">Panel News</h3>
      <div class="container p-0">
        <div *ngFor="let article of news" class="row">
          <div class="col">
            <h4 *ngIf="article.getTitle().nonEmpty()"
                class="roboto font-weight-normal">{{article.getTitle().get()}}</h4>
            <p *ngIf="article.getContent().nonEmpty()">{{article.getContent().get()}}</p>
          </div>
          <div *ngIf="article.getUser().nonEmpty()" class="col-4">
            <div class="col">
              <h6 *ngIf="article.getUsername().nonEmpty()"
                  class="roboto font-weight-normal mb-0">{{article.getUsername().get()}}</h6>
            </div>
            <div class="col">
              <p *ngIf="article.getUserGroup().nonEmpty()"
                 class="roboto font-weight-light">{{article.getUserGroup().get()}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
