<div mdbModal>
  <div class="modal-header border-0 py-1">
    <h4 *ngIf="getVoteGroup().nonEmpty() && getVoteCandidate().nonEmpty()" class="modal-title w-100">{{getVoteCandidate().get()}}'s <b class="text-danger">{{getVoteGroup().get()}}</b> Vote Details</h4>
  </div>
  <div class="modal-body">
    <p *ngIf="getVoteNotes().nonEmpty() && getVoteSponsor().nonEmpty()">{{getVoteNotes().get()}} - <b class="text-danger">{{getVoteSponsor().get()}}</b></p>
  </div>
  <div class="modal-footer border-0">
  </div>
</div>
