<div class="d-flex container-fluid flex-column flex-grow-1 h-100">
  <div class="d-flex row">
    <div class="col p-0">
      <app-header [brandImageRedirectUrl]="getBrandImageRedirectUrl()"
                  [brandImage]="getBrandImage()"
                  [hyperlinkMap]="getHyperlinkMap()"
                  [user]="userService.getUser()"
      ></app-header>
    </div>
  </div>
  <div class="d-flex row flex-row flex-grow-1">
    <div class="d-flex col flex-column justify-content-center">
      <div class="d-flex container flex-column h-75 w-75 py-2 align-items-center z-depth-2">
        <h4 class="my-0">Vote Form</h4>
        <small class="mb-2">Please fill in the following form to create a vote</small>
        <div class="d-flex container flex-column h-100 w-75 py-2 justify-content-center overflow-hidden">
          <h6 class="my-2">Candidate</h6>
          <div class="md-form my-1">
            <mdb-select-2 placeholder="Username">
              <mdb-select-option *ngFor="let candidateName of candidateService.getCandidateNames(); let i = index"
                                 (click)="updateCandidate(candidateService.getCandidateByIndex(i))">{{candidateName}}
              </mdb-select-option>
            </mdb-select-2>
          </div>
          <div class="md-form my-1">
            <mdb-select-2 #promotionGroup placeholder="Group">
              <mdb-select-option *ngFor="let group of getHierarchicallyOrderedGroupNames()">
                {{group}}
              </mdb-select-option>
            </mdb-select-2>
          </div>
          <div class="md-form my-2">
            <textarea mdbInput #description id="description" class="md-textarea w-100"></textarea>
            <label for="description">Description</label>
          </div>
          <h6 class="my-2">Star Citizen</h6>
          <div class="md-form my-1">
            <input mdbInput #starCitizenUrl id="profile-url" class="form-control" type="text">
            <label for="profile-url">Profile Url</label>
          </div>
          <button mdbBtn mdbWavesEffect class="btn-success my-auto"
                  (click)="writeVote(promotionGroup.value, description.value, starCitizenUrl.value)">Create
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
