<app-header></app-header>

<div class="container-fluid">
  <div class="row mt-5 pt-2 px-3">
    <h2 *ngIf="!isRecognisedVoteType()">FFK Voting</h2>
    <h2 *ngIf="isRecentVoting()" class="cursor-pointer"><span class="text-danger font-weight-normal">Recent</span> Votes</h2>
    <h2 *ngIf="isActiveVoting()" class="cursor-pointer"><span class="text-danger font-weight-normal">Active</span> Votes</h2>
    <h2 *ngIf="isKnightVoting()" class="cursor-pointer"><span class="text-danger font-weight-normal">Knight</span> Voting</h2>
    <h2 *ngIf="isSergeantFirstClassVoting()" class="cursor-pointer"><span class="text-danger font-weight-normal">Sergeant First Class</span> Voting</h2>
    <h2 *ngIf="isSergeantVoting()" class="cursor-pointer"><span class="text-danger font-weight-normal">Sergeant</span> Voting</h2>
    <h2 *ngIf="isSquireVoting()" class="cursor-pointer"><span class="text-danger font-weight-normal">Squire</span> Voting</h2>
    <h2 *ngIf="isCAAVoting()" class="cursor-pointer"><span class="text-danger font-weight-normal">CAA</span> Voting</h2>
  </div>
  <div class="row mt-2">
    <table mdbTable #votesTable="mdbTable" class="m-0">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Candidate</th>
        <th scope="col">Sponsor</th>
        <th scope="col">Group</th>
        <th scope="col">Created Date</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vote of getVotes(); let i = index">
        <th *ngIf="vote.getId().nonEmpty() && i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="py-2 hover-red cursor-pointer" scope="row">{{vote.getId().get()}}</th>
        <td *ngIf="vote.getCandidate().nonEmpty() && i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="py-2 hover-red cursor-pointer">{{vote.getCandidate().get()}}</td>
        <td *ngIf="vote.getSponsorUsername().nonEmpty() && i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="py-2 hover-red cursor-pointer">{{vote.getSponsorUsername().get()}}</td>
        <td *ngIf="vote.getGroup().nonEmpty() && i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="py-2 hover-red cursor-pointer">{{vote.getGroup().get()}}</td>
        <td *ngIf="vote.getCreatedDate().nonEmpty() && i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="py-2 hover-red cursor-pointer">{{toDateFormat(vote.getCreatedDate().get(), "DMY")}}</td>
        <td *ngIf="vote.getStatus().nonEmpty() && i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="py-2 hover-red cursor-pointer">{{vote.getStatus().get()}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" (click)="openViewVoteModal(vote)" class="py-2 hover-red cursor-click">View</td>
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="7">
          <mdb-table-pagination [tableEl]="votesTable" [searchDataSource]="getVotes().toArray()"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
