<div class="container-fluid mt-5 pt-2">
  <div class="row">
    <div class="col">
      <h5 *ngIf="getCandidateName().nonEmpty()">
        {{getCandidateName().get()}}'s
        <span *ngIf="isPromotion()" class="text-success">Promotion</span>
        <span *ngIf="isDemotion()" class="text-danger">Demotion</span>
      </h5>
      <div class="row">
        <div class="col-auto pr-0">
          <img *ngIf="getCandidateAvatar().nonEmpty()" class="pl-0" src="https://cdn.discordapp.com{{this.getCandidateAvatar().get()}}">
        </div>
        <div class="col-auto">
          <p *ngIf="getVoteId().nonEmpty()" class="text-dark m-0">Vote Id: {{getVoteId().get()}}</p>
          <div class="row">
            <div class="col">
              <p class="text-success m-0">For</p>
              <p *ngFor="let supporter of getSupporters()" class="m-0">{{supporter.getVoterUsername().get()}}</p>
            </div>
            <div class="col">
              <p class="text-danger m-0">Against</p>
              <p *ngFor="let opponent of getOpposition()" class="m-0">{{opponent.getVoterUsername().get()}}</p>
            </div>
          </div>
        </div>
      </div>
      <h5 *ngIf="getCandidateGroup().nonEmpty() && getVoteGroup().nonEmpty() && isPromotion()" class="mt-2 mb-1">
        <span class="text-success">{{getCandidateGroup().get()}}</span> - <span class="text-danger">{{getVoteGroup().get()}}</span>
      </h5>
      <h5 *ngIf="getCandidateGroup().nonEmpty() && getVoteGroup().nonEmpty() && isDemotion()" class="my-1">
        <span class="text-danger">{{getVoteGroup().get()}}</span> - <span class="text-danger">{{getCandidateGroup().get()}}</span>
      </h5>
      <p *ngIf="getSponsorUsername().nonEmpty()" class=" my-1">Sponsored By: {{getSponsorUsername().get()}}</p>
      <p *ngIf="getCandidateMembershipDate().nonEmpty()" class=" my-1">Member Since: {{getCandidateMembershipDate().get()}}</p>
      <small *ngIf="getVoteNotes().nonEmpty()">{{getVoteNotes().get()}}</small>
    </div>
    <div class="col">
      <div class="btn-group ml-auto d-table">
        <button
          *ngIf="canDeny()"
          mdbWavesEffect
          mdbBtn
          type="button"
          size="sm"
          color="danger"
          outline="true"
          class="waves-effect mx-1"
          (click)="submitVoteResponse('N')"
        >
        Deny
        </button>
        <button
          *ngIf="canAffirm()"
          mdbWavesEffect
          mdbBtn
          type="button"
          size="sm"
          color="success"
          outline="true"
          class="waves-effect mx-1"
          (click)="submitVoteResponse('Y')"
        >
          Affirm
        </button>
      </div>
      <app-candidate-extra-info-container></app-candidate-extra-info-container>
    </div>
  </div>
</div>
