<div class="d-flex container-fluid flex-column h-100">
  <div class="row flex-grow-1">
    <app-sidebar id="sidebar" class="p-0 ffk-white-bg align-items-center">
    </app-sidebar>
    <div class="d-flex col flex-grow-1 flex-column">
      <div class="row flex-grow-1">
        <div class="d-flex container-fluid flex-column">
          <div class="row">
            <div class="col-3">
              <h2 class="font-weight-bold mt-2">Create Vote</h2>
            </div>
          </div>
          <div class="row flex-grow-1">
            <div class="d-flex col justify-content-center align-items-center">
              <div class="d-flex container-fluid flex-column ffk-content-bg w-50 h-50 rounded shadow overflow-hidden">
                <div class="row flex-grow-1">
                  <div class="d-flex col flex-column align-content-between">
                    <mat-form-field class="my-auto">
                      <mat-label>Candidate</mat-label>
                      <mat-select [disabled]="getSelectableCandidateNames().isEmpty()">
                        <mat-option *ngFor="let candidate of getSelectableCandidateNames(); let idx = index"
                                    [value]="candidate"
                                    (onSelectionChange)="setSelectedCandidate(candidateService.getCandidate(idx))">
                          {{candidate}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="my-auto">
                      <mat-label>Group</mat-label>
                      <mat-select [disabled]="getAvailableGroupLabels().isEmpty()">
                        <mat-option *ngFor="let group of getAvailableGroupLabels(); let idx = index"
                                    [value]="group"
                                    (onSelectionChange)="setSelectedGroup(getGroup(getAvailableGroupLabels().size - idx))">
                          {{group}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="my-auto">
                      <mat-label>Star Citizen Url</mat-label>
                      <input #starCitizenUrl matInput placeholder="Star Citizen Url">
                    </mat-form-field>
                    <mat-form-field class="my-auto">
                      <mat-label>Description</mat-label>
                      <textarea #description matInput placeholder="Description"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="d-flex col flex-column">
                    <img [src]="getCandidateProfileImage().getOrElse('./assets/images/discord.jpg')"
                         class="align-self-center my-auto"
                         width="100%"
                         height="300px">
                    <button mat-button
                            type="button"
                            class="my-auto"
                            (click)="createVote(description.value, starCitizenUrl.value)">Create
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
