<div class="container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-end mb-3">
      <div class="row">
        <div class="col-auto p-0 mx-1 mt-3 cursor-click" (click)="setCandidateExtraInfoViewIndex(1)">Comments</div>
        <div class="col-auto p-0 mx-1 mt-3 cursor-click" (click)="setCandidateExtraInfoViewIndex(2)">Discord</div>
        <div class="col-auto p-0 mx-1 mt-3 cursor-click" (click)="setCandidateExtraInfoViewIndex(3)">Star Citizen</div>
      </div>
    </div>
  </div>
  <!--  Change this in the future, we can place this is the component   -->
  <div class="overflow-x-hidden overflow-y-auto pr-4 mh-60">
    <div *ngFor="let comment of getVoteComments()" class="row my-2">
      <div class="col pr-0">
        <app-message-container
          *ngIf="isCommentSelected()"
          [input]="comment"
          [authorExtractor]="authorExtractor"
          [dateExtractor]="dateExtractor"
          [messageExtractor]="messageExtractor"
          class="my-1"
        ></app-message-container>
      </div>
    </div>
  </div>
  <div class="overflow-x-hidden overflow-y-auto pr-4 mh-60">
    <div *ngFor="let message of getDiscordMessages()" class="row my-2">
      <div class="col pr-0">
        <app-message-container
          *ngIf="isDiscordSelected()"
          [input]="message"
          [authorExtractor]="discordMessageAuthorExtractor"
          [dateExtractor]="discordMessageDateExtractor"
          [messageExtractor]="discordMessageExtractor"
          class="my-1"
        ></app-message-container>
      </div>
    </div>
  </div>
  <div *ngIf="isCommentSelected()" class="row">
    <div class="md-form w-100 mb-0">
      <textarea mdbInput id="comment" class="md-textarea form-control" (keyup)="updateComment($event)"></textarea>
      <label for="comment">Comment Area</label>
    </div>
    <button
      mdbBtn
      mdbWavesEffect
      outline="outline"
      color="success"
      size="sm"
      class="ml-auto"
      (click)="writeComment()"
    >
      Comment
    </button>
  </div>
</div>
