<div class="d-flex container-fluid flex-column h-100">
  <div class="row flex-grow-1">
    <app-sidebar id="sidebar" class="p-0 ffk-white-bg align-items-center">
    </app-sidebar>
    <div class="d-flex col flex-grow-1 flex-column">
      <div class="row flex-grow-1">
        <div class="d-flex container-fluid flex-column">
          <div class="row">
            <div class="col-3">
              <h2 class="font-weight-bold mt-2">Fleet of the Faithful Knights</h2>
            </div>
          </div>
          <div class="row flex-grow-1">
            <div class="d-flex col">
              <div class="container-fluid ffk-content-bg flex-grow-1 rounded shadow">

              </div>
            </div>
            <div class="d-flex col">
              <div class="container-fluid ffk-content-bg flex-grow-1 rounded shadow">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
