nav {
  z-index: 999999;
}

#sub-title {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: small;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
