<div class="container-fluid">
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        <li
          *ngIf="isSectionViewable('Developer')"
          class="d-inline-block mr-1 developer cursor-click text-decoration-none"
          (click)="updateSelectedGroup('Developer')">Developer
        </li>
        <li
          *ngIf="isSectionViewable('Grand Master')"
          class="d-inline-block mx-1 grand-master cursor-click text-decoration-none"
          (click)="updateSelectedGroup('Grand Master')">Head Office
        </li>
        <li
          *ngIf="isSectionViewable('Knight')"
          class="d-inline-block mx-1 knight cursor-click text-decoration-none"
          (click)="updateSelectedGroup('Knight')">Knights
        </li>
        <li
          *ngIf="isSectionViewable('Sergeant')"
          class="d-inline-block mx-1 sergeant cursor-click text-decoration-none"
          (click)="updateSelectedGroup('Sergeant')">Sergeants
        </li>
        <li
          *ngIf="isSectionViewable('Guest')"
          class="d-inline-block mx-1 guest cursor-click text-decoration-none"
          (click)="updateSelectedGroup('Guest')">Normal
        </li>
      </ul>
    </div>
  </div>
  <div class="row d-flex m-4">
    <div *ngFor="let article of getNewsFilteredBySelectedGroup()" class="col-auto">
      <app-post-container
        [input]="article"
        [titleExtractor]="titleExtractor"
        [contentExtractor]="contentExtractor"
        [dateExtractor]="dateExtractor"
        [groupExtractor]="groupExtractor"
        [authorExtractor]="authorExtractor"
      >
      </app-post-container>
    </div>
  </div>
</div>
