<app-header></app-header>

<div *ngIf="getUser().nonEmpty()" class="container-fluid">
  <div class="row mt-5 pt-2 px-3">
    <div class="col">
      <h2 *ngIf="getUsername().nonEmpty()">Greetings, <b>{{getUsername().get()}}</b></h2>
      <div class="row">
        <div class="col-auto">
          <div class="view overlay">
            <img *ngIf="getAvatarUrl().nonEmpty()" src="https://cdn.discordapp.com{{this.getAvatarUrl().get()}}"
                 width="200"
                 alt="">
            <div class="mask flex-center rgba-red-light cursor-click">
              <p class="white-text">Discord Picture</p>
            </div>
          </div>
        </div>
        <div class="col">
          <h6 *ngIf="getUserId().nonEmpty()">User Id: <b class="hover-red cursor-pointer">{{getUserId().get()}}</b></h6>
          <h6 *ngIf="getUsername().nonEmpty()">Username: <b class="hover-red cursor-pointer">{{getUsername().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isGuest()">Group: <b class="hover-red cursor-pointer guest">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isCompanionAtArms()">Group: <b class="hover-red cursor-pointer companion-at-arms">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isSquire()">Group: <b class="hover-red cursor-pointer squire">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isSergeant()">Group: <b class="hover-red cursor-pointer sergeant">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isSergeantFirstClass()">Group: <b class="hover-red cursor-pointer sergeant-first-class">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isKnight()">Group: <b class="hover-red cursor-pointer knight">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isKnightLieutenant()">Group: <b class="hover-red cursor-pointer knight-lieutenant">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isKnightCommander()">Group: <b class="hover-red cursor-pointer knight-commander">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isMasterCommander()">Group: <b class="hover-red cursor-pointer master-commander">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isGrandMaster()">Group: <b class="hover-red cursor-pointer grand-master">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty() && isDeveloper()">Group: <b class="hover-red cursor-pointer developer">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getMemberSince().nonEmpty()">Member Since: <b class="hover-red cursor-pointer">{{getMemberSince().get()}}</b></h6>
          <h6 *ngIf="!getVotes().isEmpty()">Votes Created: <b
            class="hover-red cursor-pointer">{{getUserVoteCount()}}</b></h6>
          <h6 *ngIf="!getVotes().isEmpty()">Votes Passed: <b
            class="hover-green cursor-pointer">{{getUserPassedVoteCount()}}</b></h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-group">
        <mdb-card *ngFor="let article of getNews()" class="m-2">
          <mdb-card-title class="m-0">
            <div class="row">
              <div class="col">
                <h5 *ngIf="article.getTitle().nonEmpty()"
                    class="text-left font-weight-normal mt-2 ml-2 mr-0 mb-1 hover-red d-inline-flex cursor-pointer">{{article.getTitle().get()}}</h5>
              </div>
              <div class="col">
                <div class="row">
                  <small *ngIf="article.getDate().nonEmpty()"
                         class="font-weight-light hover-red ml-auto mr-4 pr-1 cursor-pointer">{{toDateFormat(article.getDate().get(), "DMYHM")}}</small>
                </div>
                <div class="row">
                  <small *ngIf="article.getUsername().nonEmpty()"
                         class="font-weight-light hover-red ml-auto mr-4 pr-1 cursor-pointer">{{article.getUsername().get()}}</small>
                </div>
                <div class="row">
                  <small *ngIf="article.getUserGroup().nonEmpty()"
                         class="font-weight-light hover-red ml-auto mr-4 pr-1 cursor-pointer">{{article.getUserGroup().get()}}</small>
                </div>
              </div>
            </div>
          </mdb-card-title>
          <mdb-card-body class="pt-0 pr-0 pb-0 pl-1 mx-2 my-2">
            <mdb-card-text *ngIf="article.getContent().nonEmpty()"
                           class="mh-25 overflow-auto">{{article.getContent().get()}}</mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
  <div class="row mt-2 ml-3" *ngIf="!getVotes().isEmpty()">
    <h3 class="pb-0 mb-3">Recent Votes</h3>
    <div class="table-responsive">
      <table mdbTable borderless="true" class="table">
        <thead>
        <tr>
          <th scope="col" class="pb-1">Id</th>
          <th scope="col" class="pb-1">Candidate</th>
          <th scope="col" class="pb-1">Sponsor</th>
          <th scope="col" class="pb-1">Group</th>
          <th scope="col" class="pb-1"></th>
          <th scope="col" class="pb-1">Date</th>
          <th scope="col" class="pb-1">Passed</th>
        </tr>
        </thead>
        <tbody class="mh-35">
        <tr *ngFor="let vote of getLastVotes(10); let i = index">
          <td scope="row" class="py-2 hover-red cursor-pointer">{{i + 1}}</td>
          <td *ngIf="vote.getSponsorUsername().nonEmpty()"
              class="py-2 hover-red cursor-pointer">{{vote.getSponsorUsername().get()}}</td>
          <td *ngIf="vote.getCandidateName().nonEmpty()"
              class="py-2 hover-red cursor-pointer">{{vote.getCandidateName().get()}}</td>
          <td *ngIf="vote.getGroup().nonEmpty()" class="py-2 hover-red cursor-pointer">{{vote.getGroup().get()}}</td>
          <td *ngIf="vote.getNotes().nonEmpty()" class="py-2 hover-red cursor-pointer"><a>View Notes</a></td>
          <td *ngIf="vote.getCreatedDate().nonEmpty()"
              class="py-2 hover-red cursor-pointer">{{toDateFormat(vote.getCreatedDate().get(), "DMYHM")}}</td>
          <td *ngIf="vote.getStatus().nonEmpty()" class="py-2 hover-red cursor-pointer">
            <app-status-icon class="ml-3"></app-status-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
