<div mdbModal #createVoteModal="mdbModal">
  <div class="modal-header d-block">
    <h4 class="modal-title text-center font-weight-normal">Create Vote</h4>
  </div>
  <div class="modal-body">
    <select mdbInput name="candidate-select" class="custom-select text-center my-4">
      <option *ngFor="let candidate of getCandidates()">{{candidate.getDiscordUsername().get()}}</option>
    </select>
    <select mdbInput name="group-select" class="custom-select text-center my-4">
      <option *ngIf="canCreateVoteForGroup('Grand Master')" value="Grand Master">Grand Master</option>
      <option *ngIf="canCreateVoteForGroup('Master Commander')" value="Master Commander">Master Commander</option>
      <option *ngIf="canCreateVoteForGroup('Knight Commander')" value="Knight Commander">Knight Commander</option>
      <option *ngIf="canCreateVoteForGroup('Knight Lieutenant')" value="Knight Lieutenant">Knight Lieutenant</option>
      <option *ngIf="canCreateVoteForGroup('Knight')" value="Knight">Knight</option>
      <option *ngIf="canCreateVoteForGroup('Sergeant First Class')" value="Sergeant First Class">Sergeant First Class</option>
      <option *ngIf="canCreateVoteForGroup('Sergeant')" value="Sergeant">Sergeant</option>
      <option *ngIf="canCreateVoteForGroup('Squire')" value="Squire">Squire</option>
      <option *ngIf="canCreateVoteForGroup('Companion at Arms')" value="Companion at Arms">Companion at Arms</option>
      <option *ngIf="canCreateVoteForGroup('Guest')" value="Guest">Guest</option>
    </select>
    <div class="md-form">
      <textarea mdbInput id="candidate-notes" class="md-textarea form-control my-4"></textarea>
      <label for="candidate-notes">Notes</label>
    </div>
  </div>
  <div class="modal-footer">
    <button mdbBtn type="button" color="danger" outline="false" class="btn waves-effect" mdbWavesEffect (click)="createVoteModal.hide()">Cancel</button>
    <button mdbBtn type="button" color="success" outline="false" class="btn waves-effect" mdbWavesEffect>Create</button>
  </div>
</div>
