<div mdbModal #createVoteModal>
  <div class="modal-header d-block">
    <h4 class="modal-title text-center font-weight-normal">Create Vote</h4>
  </div>
  <div class="modal-body">
    <mdb-select-2 class="text-center" placeholder="Select Candidate">
      <mdb-select-option
        *ngFor="let candidate of getCandidates()"
        (click)="updateCandidate(candidate)"
      >
        {{candidate.getDiscordUsername().get()}}
      </mdb-select-option>
    </mdb-select-2>
    <mdb-select-2 class="text-center" placeholder="Select Group">
      <mdb-select-option
        *ngFor="let group of getGroups()"
        (click)="updatePromotionGroup(group.getValue())"
      >
        {{group.getValue().getOrElse("Error")}}
      </mdb-select-option>
    </mdb-select-2>
    <div class="md-form">
      <textarea mdbInput id="candidate-notes" class="md-textarea form-control my-4" (change)="updateNotes($event)"></textarea>
      <label for="candidate-notes">Notes</label>
    </div>
  </div>
  <div class="modal-footer">
    <button mdbBtn mdbWavesEffect type="button" color="danger" outline="false" class="btn waves-effect" (click)="hide()">Cancel</button>
    <button mdbBtn mdbWavesEffect type="button" color="success" outline="false" class="btn waves-effect" (click)="createVote()">Create
    </button>
  </div>
</div>
