<app-header></app-header>

<div class="container-fluid">
  <div class="row mt-5 pt-2 px-3">
    <div class="col">
      <h2>Greetings, <b *ngIf="getUsername().nonEmpty()">{{getUsername().get()}}</b></h2>
      <div class="row">
        <div class="col-auto">
          <img *ngIf="getAvatarUrl().nonEmpty()" src="https://cdn.discordapp.com{{this.getAvatarUrl().get()}}"
               width="200"
               alt="">
        </div>
        <div class="col">
          <h6 *ngIf="getUsername().nonEmpty()" class="mt-2">Username: <b class="hover-red cursor-pointer">{{getUsername().get()}}</b></h6>
          <h6 *ngIf="getGroup().nonEmpty()">Group: <b class="hover-red cursor-pointer">{{getGroup().get()}}</b></h6>
          <h6 *ngIf="getMemberSince().nonEmpty()">Member Since: <b class="hover-red cursor-pointer">{{getMemberSince().get()}}</b></h6>
        </div>
      </div>
    </div>
    <div class="col">
      Column two
    </div>
  </div>
</div>
