:root {
  --ffk-white: #FFFFFF;
  --ffk-black: #000000;
  --ffk-content: #F9F9F9;
  --ffk-content-shade: #EFEFEF;
  --ffk-icon: #C4C4C4;
  --ffk-icon-shade: #E7E7E7;
  --ffk-text: #BDBDBD;
}

.ffk-white {
  &-fg {
    color: var(--ffk-white) !important;
  }

  &-bg {
    background-color: var(--ffk-white) !important;
  }

  &.hover {
    &:hover {
      background-color: var(--ffk-white) !important;
    }
  }
}

.ffk-black {
  &-fg {
    color: var(--ffk-black) !important;
  }

  &-bg {
    background-color: var(--ffk-black) !important;
  }

  &.hover {
    &:hover {
      background-color: var(--ffk-black) !important;
    }
  }
}

.ffk-content {
  &-fg {
    color: var(--ffk-content) !important;
  }

  &-bg {
    background-color: var(--ffk-content) !important;
  }

  &.hover {
    &:hover {
      background-color: var(--ffk-content) !important;
    }
  }
}

.ffk-content-shade {
  &-fg {
    color: var(--ffk-content-shade) !important;
  }

  &-bg {
    background-color: var(--ffk-content-shade) !important;
  }

  &.hover {
    &:hover {
      background-color: var(--ffk-content-shade) !important;
    }
  }
}

.ffk-icon {
  &-fg {
    color: var(--ffk-icon) !important;
  }

  &-bg {
    background-color: var(--ffk-icon) !important;
  }

  &.hover {
    &:hover {
      background-color: var(--ffk-icon) !important;
    }
  }
}

.ffk-icon-shade {
  &-fg {
    color: var(--ffk-icon-shade) !important;
  }

  &-bg {
    background-color: var(--ffk-icon-shade) !important;
  }

  &.hover {
    &:hover {
      background-color: var(--ffk-icon-shade) !important;
    }
  }
}

.ffk-text {
  &-fg {
    color: var(--ffk-text) !important;
  }

  &-bg {
    background-color: var(--ffk-text) !important;
  }

  &.hover {
    &:hover {
      background-color: var(--ffk-text) !important;
    }
  }
}
