<div *ngFor="let comment of getComments()" class="container-fluid my-1 mx-3 p-0">
  <div class="row">
    <div class="col p-0">
      <small *ngIf="comment.getUsername().nonEmpty()" class="font-weight-normal m-0">{{comment.getUsername().get()}}</small>
    </div>
    <div class="col-auto p-0">
      <small *ngIf="comment.getCreatedDate().nonEmpty()" class="font-weight-normal mr-4">{{toDateFormat(comment.getCreatedDate().get(), "DMYHM")}}</small>
    </div>
  </div>
  <div class="row">
    <small *ngIf="comment.getContent().nonEmpty()" class="font-weight-normal mr-3">{{comment.getContent().get()}}</small>
  </div>
</div>
