.animated-underline {
  &:after {
    display: block;
    position: relative;
    content: '';
    top: 0px;
    height: 2px;
    width: 0%;
    background-color: #ff3547 !important;
    transition: width 0.3s cubic-bezier(.05, .60, .70, 1);
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.animated-darken {
  background-color: initial;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #f2f2f2;
  }
}
