<div class="d-flex container flex-column">
  <div class="row">
    <div class="col-auto px-1 mx-1">
      <small *ngIf="getTitle().nonEmpty()">{{getTitle().get()}}</small>
      <br *ngIf="getUsername().nonEmpty()">
      <app-coloured-text *ngIf="getUsername().nonEmpty() && getUserGroupColour().nonEmpty()"
                         [type]="'small'"
                         [hex]="getUserGroupColour()">{{getUsername().get()}}</app-coloured-text>
    </div>
    <div class="d-flex col justify-content-end">
      <small *ngIf="getDate().nonEmpty()">{{getDate().get()}}</small>
    </div>
  </div>
  <div class="row">
    <div class="d-flex col align-self-start justify-content-start px-1 mx-1 my-2">
      <small *ngIf="getContent().nonEmpty()">{{getContent().get()}}</small>
    </div>
  </div>
</div>
