name: Externals Library

on:
  workflow_dispatch:
  pull_request:
    paths:
      - package.json
      - libs/external/**
    branches:
      - main
  push:
    paths:
      - libs/external/**
    branches:
      - main

jobs:
  build:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: npm auth
        run: |
          npm config set @kashw2:registry https://npm.pkg.github.com/
          npm config set //npm.pkg.github.com/:_authToken=${{ secrets.GH_TOKEN }}
          npm config set registry https://registry.npmjs.org/

      - name: install globals
        run: npm install -g lerna rimraf typescript

      - name: npm install
        run: |
          lerna exec npm install --scope=fleet-of-the-faithful-knights
          lerna exec npm install --scope=@kashw2/lib-external

      - name: build
        run: lerna run build --scope=@kashw2/lib-external
  publish:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: npm auth
        run: |
          npm config set @kashw2:registry https://npm.pkg.github.com/
          npm config set //npm.pkg.github.com/:_authToken=${{ secrets.GH_TOKEN }}
          npm config set registry https://registry.npmjs.org/

      - name: install globals
        run: npm install -g lerna rimraf typescript

      - name: npm install
        run: |
          lerna exec npm install --scope=fleet-of-the-faithful-knights
          lerna exec npm install --scope=@kashw2/lib-external

      - name: build
        run: lerna run build --scope=@kashw2/lib-external

      - name: publish
        uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.GH_TOKEN }}
          package: ./libs/external/package.json
          registry: https://npm.pkg.github.com/
          strategy: all
