name: Onboarding

on:
  workflow_dispatch:
  pull_request:
    paths:
      - package.json
      - onboarding/**
    branches:
      - main
  push:
    paths:
      - onboarding/**
    branches:
      - main

jobs:
  build:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: npm auth
        run: |
          npm config set @kashw2:registry https://npm.pkg.github.com/
          npm config set //npm.pkg.github.com/:_authToken=${{ secrets.GH_TOKEN }}
          npm config set registry https://registry.npmjs.org/

      - name: install globals
        run: npm install -g lerna

      - name: npm install
        run: |
          lerna exec npm install --scope=fleet-of-the-faithful-knights
          lerna exec npm install --scope=@ffk/onboarding

      - name: build onboarding
        run: lerna run build:dev --scope=@ffk/onboarding
  deploy:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: npm auth
        run: |
          npm config set @kashw2:registry https://npm.pkg.github.com/
          npm config set //npm.pkg.github.com/:_authToken=${{ secrets.GH_TOKEN }}
          npm config set registry https://registry.npmjs.org/

      - name: install globals
        run: npm install -g lerna

      - name: npm install
        run: |
          lerna exec npm install --scope=fleet-of-the-faithful-knights
          lerna exec npm install --scope=@ffk/onboarding

      - name: build onboarding
        run: lerna run build:dev --scope=@ffk/onboarding

      - name: deploy
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}
      - run: |
          docker build -t ghcr.io/kashw2/onboarding.faithfulknights.com:${{ github.sha }} -t ghcr.io/kashw2/onboarding.faithfulknights.com:latest -f Dockerfile .
          docker push ghcr.io/kashw2/onboarding.faithfulknights.com:${{ github.sha }}
          docker push ghcr.io/kashw2/onboarding.faithfulknights.com:latest
        working-directory: onboarding
