/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');
// regular style toast
@import '~ngx-toastr/toastr';


.monsterrat {
  font-family: Monsterrat, sans-serif;
}

.baloo {
  font-family: 'Baloo Thambi 2', sans-serif;
}

// Group Colours

.guest {
  color: #999999;

  &:hover {
    text-decoration: underline;
  }

}

.squire {
  color: #fce853;

  &:hover {
    text-decoration: underline;
  }

}

.companion-at-arms {
  color: #1f8b4c;

  &:hover {
    text-decoration: underline;
  }

}

.sergeant {
  color: #206694;

  &:hover {
    text-decoration: underline;
  }

}

.sergeant-first-class {
  color: #206694;

  &:hover {
    text-decoration: underline;
  }

}

.knight {
  color: #e67e22;

  &:hover {
    text-decoration: underline;
  }

}

.knight-lieutenant {
  color: #ce7100;

  &:hover {
    text-decoration: underline;
  }

}

.knight-commander {
  color: #ce7100;

  &:hover {
    text-decoration: underline;
  }

}

.master-commander {
  color: #9b0000;

  &:hover {
    text-decoration: underline;
  }

}

.grand-master {
  color: #9b0000;

  &:hover {
    text-decoration: underline;
  }

}

.developer {
  background-image: repeating-linear-gradient(319deg, #7fd82b 0%, #7696ef 37%, #f1ff5e 57%, #e557c6 100%);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 2s ease-in-out infinite;

  &:hover {
    text-decoration: underline;
  }

}

@keyframes rainbow {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}



.hover-red {
  transition: color ease-in-out 150ms;

  &:hover {
    color: red;
  }

  &:active {
    color: red;
  }

}

.hover-green {
  transition: color ease-in-out 150ms;

  &:hover {
    color: green;
  }

  &:active {
    color: green;
  }
}

.text-border {

  &.top {
    border-top: 1px solid black !important;
  }

  &.right {
    border-right: 1px solid black !important;
  }

  &.bottom {
    border-bottom: 1px solid black !important;
  }

  &.left {
    border-left: 1px solid black !important;
  }

}

// Cursors
.cursor-pointer {
  cursor: default;
}

.cursor-click {
  cursor: pointer;
}

// Sizing
.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.mh-25 {
  max-height: 25vh;
}

.mh-35 {
  max-height: 35vh;
}

.mh-40 {
  max-height: 40vh;
}

.mh-50 {
  max-height: 50vh;
}
