/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');
// regular style toast
@import '~ngx-toastr/toastr';


.monsterrat {
  font-family: Monsterrat, sans-serif;
}

.baloo {
  font-family: 'Baloo Thambi 2', sans-serif;
}

.hover-red {
  transition: color ease-in-out 150ms;

  &:hover {
    color: red;
  }

  &:active {
    color: red;
  }

}

.hover-green {
  transition: color ease-in-out 150ms;

  &:hover {
    color: green;
  }

  &:active {
    color: green;
  }
}

.text-border {

  &.top {
      border-top: 1px solid black !important;
  }

  &.right {
      border-right: 1px solid black !important;
  }

  &.bottom {
      border-bottom: 1px solid black !important;
  }

  &.left {
      border-left: 1px solid black !important;
  }

}

.mh-25 {
  max-height: 25vh;
}

.mh-35 {
  max-height: 35vh;
}

.cursor-pointer {
  cursor: default;
}

.cursor-click {
  cursor: pointer;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}
