<div class="container-fluid z-depth-2">
  <div class="row">
    <div *ngIf="getBrandImageRedirectUrl().nonEmpty() || getBrandImage().nonEmpty()" class="d-flex col-auto align-items-center">
      <a *ngIf="getBrandImageRedirectUrl().nonEmpty()" (click)="getBrandImageRedirectUrl().get()">
        <img *ngIf="getBrandImage().nonEmpty()"
             [src]="getBrandImage().get()"
             height="50px"
             width="50px"
             class="m-2">
      </a>
      <img *ngIf="getBrandImageRedirectUrl().isEmpty() && getBrandImage().nonEmpty()"
           [src]="getBrandImage().get()"
           height="50px"
           width="50px"
           class="m-2">
    </div>
    <div *ngIf="!getHyperlinkMap().isEmpty()" class="d-flex col align-self-center justify-content-start">
      <div *ngFor="let link of getHyperlinkMap()" class="mx-2 dropdown-parent">
        <a *ngIf="link.getHyperlink().nonEmpty() && link.getLabel().nonEmpty() && !link.getDropdownHyperlinks().isEmpty()"
           (click)="navigationService.navigate(link.getHyperlink().get())"
           [ngClass]="link.isActive() ? 'active-underline text-danger' : 'animated-underline text-danger'">
          {{shouldCapitalise() ? link.getLabel().get().toUpperCase() : link.getLabel().get()}}
        </a>
        <p *ngIf="link.getHyperlink().isEmpty() && link.getLabel().nonEmpty() && !link.getDropdownHyperlinks().isEmpty()"
           [ngClass]="link.isActive() ? 'active-underline text-danger mb-0 cursor-default' : 'animated-underline text-danger mb-0 cursor-default'"
        >{{shouldCapitalise() ? link.getLabel().get().toUpperCase() : link.getLabel().get()}}
        </p>
        <app-dropdown *ngIf="!link.getDropdownHyperlinks().isEmpty()"
                      [hyperlinks]="link.getDropdownHyperlinks()"
                      class="z-depth-2"
        ></app-dropdown>
        <a *ngIf="link.getHyperlink().nonEmpty() && link.getLabel().nonEmpty() && link.getDropdownHyperlinks().isEmpty()"
          (click)="navigationService.navigate(link.getHyperlink().get())"
          [ngClass]="link.isActive() ? 'active-underline text-danger' : 'animated-underline text-danger'"
        >
          {{shouldCapitalise() ? link.getLabel().get().toUpperCase() : link.getLabel().get()}}
        </a>
        <p *ngIf="link.getHyperlink().isEmpty() && link.getLabel().nonEmpty() && link.getDropdownHyperlinks().isEmpty()"
           [ngClass]="link.isActive() ? 'active-underline text-danger mb-0 cursor-default' : 'animated-underline text-danger mb-0 cursor-default'"
        >{{shouldCapitalise() ? link.getLabel().get().toUpperCase() : link.getLabel().get()}}
        </p>
      </div>
    </div>
    <div *ngIf="getUser().nonEmpty()" class="d-flex col-auto align-items-center p-0">
      <div class="d-flex container flex-row p-2 mx-2 animated-darken cursor-pointer" (click)="navigationService.goToProfile(getUserId())">
        <div class="col-auto p-0">
          <img *ngIf="getUserAvatar().nonEmpty()" [src]="getUserAvatar().get()" height="40px">
        </div>
        <div class="col">
          <div class="row">
            <small *ngIf="getUserName().nonEmpty()" class="pl-2">{{getUserName().get()}}</small>
          </div>
          <div class="row">
            <small *ngIf="getUserId().nonEmpty()" class="pl-2">{{getUserId().get()}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
