<div class="container-fluid">
  <div class="row">
    <div *ngIf="getBrandImageRedirectUrl().nonEmpty() || getBrandImage().nonEmpty()" class="col-1">
      <a *ngIf="getBrandImageRedirectUrl().nonEmpty()" [href]="getBrandImageRedirectUrl().get()">
        <img *ngIf="getBrandImage().nonEmpty()"
             [src]="getBrandImage().get()"
             height="75px"
             width="75px"
             class="img-fluid m-1"
        >
      </a>
      <img *ngIf="getBrandImageRedirectUrl().isEmpty() && getBrandImage().nonEmpty()"
           [src]="getBrandImage().get()"
           height="75px"
           width="75px"
           class="img-fluid m-1"
      >
    </div>
    <div *ngIf="!getHyperlinkMap().isEmpty()" class="d-flex col align-self-center justify-content-end">
      <a *ngFor="let link of getHyperlinkMap()"
         [href]="link.getHyperlink().get()"
         class="text-danger"
      >
        <span *ngIf="link.getLabel().nonEmpty()" class="animated-underline">{{shouldCapitalise() ? link.getLabel().get().toUpperCase() : link.getLabel().get()}}</span>
      </a>
    </div>
  </div>
</div>
